{% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1 style="color:azure">Portofolio</h1>
    <img src="https://pbs.twimg.com/profile_images/912519048885264384/FO7SGatX_400x400.jpg"  style="width:200px;height:200px;border-radius:50%;">
    <hr/>
    <section name="bio">
        <h2 style="color:azure; font-family:Josefin; Slab font-size:medium" >Bio</h2>
        <p style="color:azure" style="font-family:Josefin Slab">
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me" style="font-family:Josefin Slab">
        <h2 style="color :azure"  style="font-family:Josefin Slab">List</h2>
        <ul style="color :azure" style="font-family:Josefin Slab">
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form">
      <h2 style="color :azure" style="font-family:Josefin Slab">Send Message</h2>
      <form style="color :azure" style="font-family:Josefin Slab" id="form" method="POST" action="{% url 'lab-4:add_message' %}">
          {% csrf_token %}
          {{ message_form }}
          <br>
          <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </section>

  {% endblock %}
